.continer{
    margin: 200px 800px;
}
.continer h1{
    text-align: center;
}
.continer h3{
    width: 400px;
    
    font-size: 20px;
}
.continer input{
    display: block;
    text-align: center;
    align-items: center;
    
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    border: 1px solid #9e9e9e;
    border-radius: 6px;
}
.continer button{
    margin-left: 68px;
    padding: 8px 40px;
    border: none;
    border-radius: 6px;
}